In [34]:
with open('nama.txt') as f:
    nama=f.readlines()
nama

['YULIANITA\n',
 'MUHAMAD FARRAS HANINDITO RUKMANTORO\n',
 'ATIKA MARASABESSY\n',
 'INDAH RAHMADHANIA\n',
 'AHMAD MUHAJIR\n',
 'SUMIHAR CHRISTIAN N S\n',
 'YOHANES A CRUX GOSAL\n',
 'MOHAMAD ILHAM DWI FIRMANSYAH\n',
 'YUDA HENDRIAWAN BUDI HANDOKO\n',
 'SHAFIRA HERLINAWATI\n',
 'HENGKY KURNIAWAN\n',
 'SOVIA PRABANINGTYAS\n',
 'FERISA TRI PUTRI PRESTASI\n',
 'NUR LAILI ASTI PRAMESTI\n',
 'RENJIRO OWEN\n',
 'RIF`AN AMROZI\n',
 'SOMA USHIO\n',
 'ZUHAIR\n',
 'FRANSISCA DIVA AMADEA\n',
 'MIRDHA SUCI ANANDA\n',
 'JULINAR\n',
 'MUHAMMAD NANDA SETIAWAN\n',
 'ALDI EKA WAHYU WIDIANTO\n',
 'ARIQOH FAUZIYAH IRBAH\n',
 'GALANG REFORMANTOKO\n',
 'RIO TINTO HERLAMBANG\n',
 'MUHAMMAD JEFRI FRANSISKA\n',
 'EDWIN RISBOWO\n',
 'ALLIF ALFIYAN\n',
 'MOCHAMAD FARHAN MARGA KUSUMA\n',
 'ANGGA KURNIAWAN\n',
 'FARHAN HAFIZH\n',
 'ANDI AQIL AMANULHAQ\n']

In [35]:
random_list=[1,2,3,4,5]
with open('nama1.txt','w') as f:
    for nomor in random_list:
        f.write(str(nomor))

In [36]:
with open('nama2.txt','w') as test:
    for nomor in random_list:
        test.write(str(nomor)+'\n')

In [40]:
with open('nama.txt') as orang:
    nama=orang.readlines()
    
nama
mahasiswa=[]
for orang in nama:
    orang=orang.strip()
    mahasiswa.append(orang)
mahasiswa

['YULIANITA',
 'MUHAMAD FARRAS HANINDITO RUKMANTORO',
 'ATIKA MARASABESSY',
 'INDAH RAHMADHANIA',
 'AHMAD MUHAJIR',
 'SUMIHAR CHRISTIAN N S',
 'YOHANES A CRUX GOSAL',
 'MOHAMAD ILHAM DWI FIRMANSYAH',
 'YUDA HENDRIAWAN BUDI HANDOKO',
 'SHAFIRA HERLINAWATI',
 'HENGKY KURNIAWAN',
 'SOVIA PRABANINGTYAS',
 'FERISA TRI PUTRI PRESTASI',
 'NUR LAILI ASTI PRAMESTI',
 'RENJIRO OWEN',
 'RIF`AN AMROZI',
 'SOMA USHIO',
 'ZUHAIR',
 'FRANSISCA DIVA AMADEA',
 'MIRDHA SUCI ANANDA',
 'JULINAR',
 'MUHAMMAD NANDA SETIAWAN',
 'ALDI EKA WAHYU WIDIANTO',
 'ARIQOH FAUZIYAH IRBAH',
 'GALANG REFORMANTOKO',
 'RIO TINTO HERLAMBANG',
 'MUHAMMAD JEFRI FRANSISKA',
 'EDWIN RISBOWO',
 'ALLIF ALFIYAN',
 'MOCHAMAD FARHAN MARGA KUSUMA',
 'ANGGA KURNIAWAN',
 'FARHAN HAFIZH',
 'ANDI AQIL AMANULHAQ']

In [41]:
list_seribu=[]
random_list=[1,2,3,3,3,55]
for i in range(1000):
    list_seribu.append(i)
print(random_list)

for i in range(len(random_list)):
     random_list[i]=random_list[i]**2
print(random_list)

[1, 2, 3, 3, 3, 55]
[1, 4, 9, 9, 9, 3025]

In [42]:
mahasiswa=[]
for orang in nama:
    orang=orang.strip()
    mahasiswa.append(orang)
mahasiswa

for index, nama in enumerate(mahasiswa):
     print(index,'.',nama)
#     print(str(index)+'.'+nama)
#     print(f'{index+1}.{nama}')

0 . YULIANITA
1 . MUHAMAD FARRAS HANINDITO RUKMANTORO
2 . ATIKA MARASABESSY
3 . INDAH RAHMADHANIA
4 . AHMAD MUHAJIR
5 . SUMIHAR CHRISTIAN N S
6 . YOHANES A CRUX GOSAL
7 . MOHAMAD ILHAM DWI FIRMANSYAH
8 . YUDA HENDRIAWAN BUDI HANDOKO
9 . SHAFIRA HERLINAWATI
10 . HENGKY KURNIAWAN
11 . SOVIA PRABANINGTYAS
12 . FERISA TRI PUTRI PRESTASI
13 . NUR LAILI ASTI PRAMESTI
14 . RENJIRO OWEN
15 . RIF`AN AMROZI
16 . SOMA USHIO
17 . ZUHAIR
18 . FRANSISCA DIVA AMADEA
19 . MIRDHA SUCI ANANDA
20 . JULINAR
21 . MUHAMMAD NANDA SETIAWAN
22 . ALDI EKA WAHYU WIDIANTO
23 . ARIQOH FAUZIYAH IRBAH
24 . GALANG REFORMANTOKO
25 . RIO TINTO HERLAMBANG
26 . MUHAMMAD JEFRI FRANSISKA
27 . EDWIN RISBOWO
28 . ALLIF ALFIYAN
29 . MOCHAMAD FARHAN MARGA KUSUMA
30 . ANGGA KURNIAWAN
31 . FARHAN HAFIZH
32 . ANDI AQIL AMANULHAQ